<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZBBa8MwDIX/i86mpEkHnc8tLJcONtgOYwcllhuN2A62Uhgh/31Ouo4NdrOent8naQJH
	ggYFQU/gMAnFB+JzJ6B3RVWqb+2VjXSgq6LcKQiRyQsKBw96PyuwITqUF4pplbYKLtd3
	7W1YgpuRe3MaXUMRNGzvj+XdHhTgMPx8glyntiOHT3Thq1YoGHqUJT4b+PEZMgzNx5jE
	5QkS6LfpHzh5bHoyoCWOlFNJhP05LYOQtdT+Na/KCR1lRHU4RMxp3MKtU3shn1g+szvT
	2WQwW14XOa4OuB2g/t1rg9vk/XraDF2QAPP7/AU=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2022-05-04T17:05:11Z</date>
</dict>
</plist>
